name: Test (browser)

on:
  pull_request:
  push:
    branches: [main]

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2

      - run: bun install --frozen-lockfile
      - run: bunx playwright install --with-deps chromium firefox webkit
      - run: bun run test:browser
